@import url("https://fonts.googleapis.com/css2?family=Anton&family=Edu+AU+VIC+WA+NT+Arrows&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Edu+AU+VIC+WA+NT+Arrows&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

#hero-page {
  background-color: #121212;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  height: fit-content;
}

.deam-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.heading {
  font-family: "Playfair Display", serif;
}

/* Custom Cursor */
#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: background-color 0.2s, filter 0.2s, transform 0.3s;
  -webkit-transition: background-color 0.2s, filter 0.2s, transform 0.3s;
  -moz-transition: background-color 0.2s, filter 0.2s, transform 0.3s;
  -ms-transition: background-color 0.2s, filter 0.2s, transform 0.3s;
  -o-transition: background-color 0.2s, filter 0.2s, transform 0.3s;
}
